@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel.eot');
  src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sahel.woff2') format('woff2'),
       url('../fonts/Sahel.woff') format('woff'),
       url('../fonts/Sahel.ttf') format('truetype');
       font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel-Bold.eot');
  src: url('../fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sahel-Bold.woff2') format('woff2'),
       url('../fonts/Sahel-Bold.woff') format('woff'),
       url('../fonts/Sahel-Bold.ttf') format('truetype');
       font-weight: bold;
}

body {
	background-color: #f5f8fa;
	font-family: Sahel, tahoma, arial;
}

blockquote {
	margin: 20px;
	color: #7c878a;
	border-right: 4px solid #a8afb1;
	padding-right: 8px;
	font-style: italic;
}

pre {
	text-align: left;
	background-color: #eee;
	padding: 15px 20px;
	margin: 25px 30px;
	direction: ltr;
	color: #264160;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
}

h3 {
	font-size: 1.25rem;
	margin: 22px 0 12px;
	color: #775d44;
}

img {
	max-width: 100% !important;
	height: auto;
}

.code-inline {
    direction: ltr;
    text-align: left;
    display: inline-block;
    color: #c81b1b;
    background-color: #ffeded;
    padding: 2px 5px;
    font-size: 85%;
}

.code-inline-right {
	direction: rtl;
}

/**/
.navbar {
	padding: 0.1rem 1rem;
	background-color: #20AA76/*188D63*/ !important;
}

.navbar-toggler {
	background-color: #3d6641;
}

.navbar-brand {
	margin-left: 1rem;
}

a.nav-link {
	color: #fff !important;
}

a.nav-link:hover {
	color: #83ecbc !important;
}

nav.navbar .form-control, nav.navbar .btn {
	padding: .250rem .75rem;
}

/**/
.article-thumbnail img {
	transition: opacity 0.5s;
}

.article-thumbnail img:hover{
    opacity: 0.5;
}

.read-more {
	background-color: #20AA76/*188D63*/ !important;
}

/**/
.pagination ul {
	list-style-type: none;
	text-align: center;
}

.pagination ul li {
	display: inline-block;
	margin-bottom: 5px;
}

.pagination ul li a,
.pagination ul li.active {
	display: inline-block;
	min-width: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 5px;
	background-color: #188D63;
	color: #fff;
	border-radius: 3px;
	margin: 0 4px;
}

.pagination ul li.active {
	background-color: #b44872;
}

.pagination ul li.prev a,
.pagination ul li.next a {
	background-color: #434c75;
	border-radius: 50%;
}

/*.pagination ul li.prev a,
.pagination ul li.next a {
	background-color: #30a7a7;
}

.pagination ul li.first a,
.pagination ul li.last a {
	background-color: #434c75;
	border-radius: 50%;
}*/

/**/
footer.footer {
	font-size: 14px;
}